/*
Light 300
Regular 400
semi bold 600
bold 700
extra bold 800
font-family: 'Taviraj', serif;
*/
@mixin centered() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin veritcal-centered() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizonal-centered() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h2, h3, h4{
  font-family: 'Taviraj', serif;
}
h2{
  color: #8a6e5f;
  text-align: right;
  font-size: 2em;
  //text-transform: uppercase;
  margin: 0 0 60px 0;
  font-family: 'Taviraj', serif;
}
h3{
  font-size: 1.8em;
  color: #000;
}
h4{
  font-size: 2em;
  color: #222;
}
h5{
  font-size: 1.2em;
  color: #222;
  margin: 30px 0;
}
html{
  height: 100%;
  body{
    height: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #c3c3c3;
    overflow-y: hidden;
    @media(max-width: 425px){
      font-size: 12px;
    }
    p, ul li{
      line-height: 30px;
      @media(max-width: 425px){
        line-height: 20px;
      }
    }
    header{
      height: 100%;
      //background-image: url('../images/oso.jpg');
      background-size: cover;
      position: relative;
      background-position: center;
      h1{
        opacity: 0;
        transition: all 0.5s ease;
        font-weight: 700;
        margin: 0;
        color: #21150c;
        @include centered();
        font-size: 4.6em;
        height: 107px;
        line-height: 61px;
        span.right{
          font-size: 1.73em;
          position: relative;
          top: 10px;
          right: -10px;
          @media(max-width: 425px){
            top: 6px;
          }
        }
        span.left{
          font-size: 1.73em;
          position: relative;
          top: 10px;
          left: -10px;
          @media(max-width: 425px){
            top: 6px;
          }
        }
        @media(max-width: 768px){
          width: 550px;
        }
        @media(max-width: 425px){
          width: 300px;
          font-size: 3.2em;
          transform: translate(-47%, -50%);
        }
        @media(max-width: 320px){
          transform: translate(-47%, -50%);
        }
      }
      .go_back{
        position: absolute;
        bottom: 30px;
        left: 60px;
        color: #fff;
        i{
          text-align: center;
          font-size: 3em;
          display: block;
          &:first-child{
            font-size: 3em;
          }
        }
        &:hover{
          text-decoration: none;
        }
      }
      .go_back_black{
        color: #fff;
      }
    }
    #servicios{
      position: relative;
      padding: 60px 0;
      @media(max-width: 1024px){
        min-height: 733px;
      }
      @media(max-width: 768px){
        min-height: auto;
      }
      h2{
        color: #8a6e5f;
        text-align: right;
        font-size: 2em;
        //text-transform: uppercase;
        margin: 0 0 60px 0;
        font-family: 'Taviraj', serif;
        @media(max-width: 1024px){
          margin: 0 0 40px 0;
        }
      }
      .service{
        color: #333;
        text-align: left;
        margin-bottom: 0px;
        padding-bottom: 15px;
        border-bottom: solid 1px #ececec;
        transition: all 0.5s ease;
        cursor: pointer;
        position: relative;
        .icon{
          @media(max-width: 425px){
            display: none;
          }
          i{
            font-size: 3em;
            margin: 43px 15px 20px 15px;
            color: #fb9f11;
            transition: all 0.2s ease;
          }
        }
        h3{
          margin: 15px 0 15px 0;
          a{
            color: #000;
            &:hover{
              text-decoration: none;
              color: #999;
            }
            &:focus{
              text-decoration: none;
              color: #000;
            }
          }
        }
        p{
          font-weight: 300;
          height: 45px;
          a{
            color: #000;
            &:hover{
              text-decoration: none;
            }
            &:focus{
              text-decoration: none;
            }
          }
        }
        &:last-child{
          border-bottom: none;
        }
        &:hover{
          h3{
            color: #999;
          }
        }
      }
    }
    .services-image{
      background-image: url('../images/services_bg.jpg');
      background-position: 95% 0;
      background-size: cover;
      &:before{
        content: '';
        display: block;
        padding-top: 100%;
      }
      video{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    }
    .services-descr{
      position: relative;
      .wrapper{
        position: absolute;
        background: #fff;
        left: -250px;
        display: block;
        width: 650px;
        padding: 50px;
        margin-top: 50px;
        /*border: solid 1px #ccc;*/
        @media(max-width: 768px){
          position: relative;
          padding: 0px;
          margin: 0;
          left: 0px;
        }
        @media(max-width: 425px){
          width: auto;
        }
      }
    }
    .services-result{
      //background: #fff;
      padding: 30px;
      margin: 154px 15px 0 15px;
    }
    .parallax{
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
      background-size: cover;
      min-height: 250px;
    }
    #learn{
      background-image: url('../images/learn.jpg');
      position: relative;
      text-align: center;
      .overlay{
        padding: 60px 0;
        position: relative;
        .container-fluid{
          position: relative;
          z-index: 2;
          iframe{
            width: 100%;
            height: 200px;
            box-shadow: 0 0 5px #000;
            @media(max-width: 768px){
              height: 150px;
            }
            @media(max-width: 425px){
              margin-top: 30px;
            }
          }
          h3{
            color: #fff;
            @media(max-width: 768px){
              font-size: 1.5em;
              min-height: 50px;
            }
            @media(max-width: 425px){
              min-height: 20px;
            }
          }
          a{
            color: #ffa200;
          }
        }
      }
    }
    #contacto{
      padding: 60px 0;
      h2{
        color: #f9cf81;
        text-align: left;
        font-weight: 400;
        font-size: 0.8em;
        text-transform: uppercase;
        border-bottom: solid 1px #f9cf81;
        padding-bottom: 15px;
        margin: 0 0 60px 0;
      }
      p.sub{
        text-align: center;
        font-size: 1.2em;
      }
    }
    #works{
      min-height: 150px;
      background: #fff;
      padding: 60px 0;
      /*h2{
        padding-top: 60px;
      }*/
      .works{
        > div {
          padding-bottom: 30px;
          > div{
            background-position: center;
            background-size: auto 100%;
            transition: all 0.2s ease;
            &:before{
              content: '';
              display: block;
              padding-top: 80%;
            }
            &:hover{
              background-size: auto 110%;
            }
          }
        }
      }
      .slider-work{
        padding-bottom: 60px;
        > div{
          background-position: center;
          background-size: cover;
          img{
            width: 100%;
            &:focus{
              border: none;
              box-shadow: none;
              outline: none;
            }
          }
        }
      }
    }
    #web{
      background-image: url('../images/web_bg.jpg');
      position: relative;
      .overlay{
        .container-fluid{
          padding: 60px 15px;
        }
      }
      p, ul li{
        color: #333;
      }
      .subtitle{
        text-align: center;
        color: #333;
        padding-bottom: 30px;
      }
      #loadWeb{
        background: #fff;
        padding: 60px;
      }
    }
    #actualizaciones{
      padding: 60px 0;
      p, ul li{
        color: #333;
      }
      .subtitle{
        text-align: center;
        color: #333;
        padding-bottom: 30px;
      }
      #loadActualizaciones{
        background: #fff;
        padding: 60px 60px 0 60px;
      }
    }
    #app{
      background-image: url('../images/app_bg.jpg');
      position: relative;
      .overlay{
        .container-fluid{
          padding: 60px 15px;
        }
      }
      p, ul li{
        color: #333;
      }
      .subtitle{
        text-align: center;
        color: #333;
        padding-bottom: 30px;
      }
      #loadApp{
        background: #fff;
        padding: 60px;
      }
    }
  }
}
p.subtitle{
  font-size:1.5em;
}

.container-fluid{
  max-width: 1200px;
  @media(max-width: 1024px){
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}
.overlay{
  background-color: rgba(0,0,0,0.7);
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  h2{
    color: #fff !important;
  }
}
footer{
  min-height: 70px;
  background: #333;
  color: #fff;
  p{
    text-align: center;
    font-size: 0.8em;
    line-height: 70px !important;
    margin: 0;
    @media(max-width: 425px){
      font-size: 1em;
    }
  }
  a{
    color: #fff;
    &:hover{
      color: #fff;
    }
    .icon-facebook{
      width: 15px;
      margin-left: 5px;
    }
  }
}

#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000;
  overflow: hidden;
  transition: all 1s ease;
  div{
    @include centered;
    text-align: center;
    img{
      border-radius: 50%;
    }
    p{
      font-size: 1.5em;
      margin: 20px;
      color: #fff;
      font-weight: 300;
    }
  }
}
#loader.loaded{
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 100% 50%;
}
